---
layout: archive
author_profile: true
sidebar:
  nav: "new_side"
---

{% include base_path %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

Previous kaggle challenges: <a href="https://www.kaggle.com/fabsta">kaggle profile</a>
<h2>Important note collection</h2>
<h3>Data science/programming</h3>
<ul>
<li><a href="https://gist.github.com/fabsta/8d5233356618ee7b2e87b84146a33a79">Data science</a></li>
<li><a href="https://gist.github.com/fabsta/86fa94221789e15239c7b888c3ec3c8c">Python cheat sheet</a></li>
<li><a href="https://gist.github.com/fabsta/9a1efa91f14381bf0bbe3b07605d74fa">Pyton plotting</a></li>
</ul>
<h3>AI</h3>
<ul>
<li><a href="https://gist.github.com/fabsta/cb0f216982a4ed01ea60a060955d95c5">Deep learning</a></li>
<li><a href="https://gist.github.com/fabsta/33773f38e007b0f1853dad7840b12515">AI use cases</a></li>
</ul>

<h3>Science</h3>
<ul>
<li><a href="https://gist.github.com/fabsta/b870a657182b13adaab7718aa53417d2">Organic chemistry</a></li>
</ul>
<h3>Other</h3>
<ul>
<li><a href="https://gist.github.com/fabsta/94c8ac6f8d35f10bdc2a0217ee93b66d">Krav maga</a></li>
<li><a href="https://gist.github.com/fabsta/b2031fcf221a63d0e60d1b31d5026cd7">Facts</a></li>
</ul>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<form action="/search.html" method="get">
  <label for="search-box">Search</label>
  <input type="text" id="search-box" name="query">
  <input type="submit" value="search">
</form>
